<?php
/**
 * @var $this Mage_Page_Block_Html_Head
 */
?>
<title><?php echo $this->getTitle() ?></title>

<meta charset="<?php echo $this->getCharset() ?>">
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>">
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>">
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>">

<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
