* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  @include box-sizing(inherit);
}

html {
  -webkit-tap-highlight-color: black(0); /* Prevent tap highlight on iOS/Android */
  -webkit-text-size-adjust: 100%; /* Prevent automatic scaling on iOS */
}

body {
  background: #FFFFFF;
  color: #000000;
  line-height: 1;
}