<?php
/**
 * @var $this Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>" class="<?php echo $this->getBodyClass(); ?>">
    <head>
        <?php echo $this->getChildHtml('head') ?>
    </head>
    <body>
        <?php echo $this->getChildHtml('content') ?>
        <?php echo $this->getAbsoluteFooter() ?>
    </body>
</html>
