<?php
/**
 * @var $this Mage_Page_Block_Html_Head
 */
?>
<link rel="apple-touch-icon" sizes="57x57" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="72x72" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="144x144" href=<?php echo $this->getFaviconFile(); ?>>
<link rel="apple-touch-icon" sizes="60x60" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="apple-touch-icon" sizes="180x180" href="<?php echo $this->getFaviconFile(); ?>">
<link rel="icon" type="image/png" href="<?php echo $this->getFaviconFile(); ?>" sizes="192x192">
<link rel="icon" type="image/png" href="<?php echo $this->getFaviconFile(); ?>" sizes="160x160">
<link rel="icon" type="image/png" href="<?php echo $this->getFaviconFile(); ?>" sizes="96x96">
<link rel="icon" type="image/png" href="<?php echo $this->getFaviconFile(); ?>" sizes="16x16">
<link rel="icon" type="image/png" href="<?php echo $this->getFaviconFile(); ?>" sizes="32x32">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon">
<meta name=viewport content="width=device-width, initial-scale=1">